{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>API page</title>
</head>

<body>
    <ul>
        <li>
            <a href="http://127.0.0.1:8000/api/bank/">
                Bank
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/api/educ-type/">
                Types_of_Education
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/api/scholar-type/">
                Types_of_Scholarship
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/api/staff/">
                Staff
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/api/faculty/">
                Faculty
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/api/department/">
                Department
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/api/group/">
                Group
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/api/student/">
                Student
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/api/accrual/">
                Accrual
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/api/scholar-fund/">
                Scholarship_Fund
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/api/fellow/">
                Fellow
            </a>
        </li>
    </ul>
</body>

</html>