{% extends 'layout.html' %}


{% block head %}
{% block title %} - Страница Авторизации{% endblock %}
{% block menu %}{% endblock %}
{% endblock %}


{% block lilmenu %}{% endblock %}


{% block content %}
<!-- AUTHORIZATION PAGE -->
<div class="features">
    <!-- <button class="btn btn-warning">Кнопка</button> -->
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            {% if form.errors %}
            <p>
                Не был найден пароль или логин. Попробуйте еще раз.
            </p>
            {% else %}
            <p>Используйте формы представленные выше для авторизации</p>
            {% endif %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input class="btn btn-lg" style='background-color: #248f1b' type="submit" value="Log-in"></p>
        </form>

        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-lg" style='background-color: #ffae00'>Выйти</a>
        {% endif %}

    </div>
</div>
{% endblock %}