{% extends 'layout.html' %}

{% block head %}
    {% block title %} - Главная страница{% endblock %}
    {% block menu %}{% endblock %}
{% endblock %}


{% block content %}
<!-- MAIN PAGE -->
<div class="features">
    <a class="link-info" href="{% url 'group' %}"><i class="fas fa-angle-double-right"></i> Группы</a>
    <h1>{{ post.group_name }}</h1>
    <div class="list-group">
        <h3 class="mb-1">Информация о Группе</h2>
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 mt-3">Код группы: #{{ post.pk }}</h5>
            <small> ... </small>
        </div>
        <h5>Наименование группы: {{ post.group_name }}</h5>
        <h5>Выпускающая Кафедра: {{ post.issuing_department_code }}</h5>
        <h5>Куратор: {{ post.сurator_code }}</h5>
    </div>
    <br>
    {% if request.user.is_staff %}
    <h3 class="mb-2 mt-3">Редактирование объекта</h3>
    <form method="POST">
        {% csrf_token %}
        <p>
            {{ form.as_p }}
        </p>
        <button class="btn btn-warning" type="submit" value="Сохранить">Сохранить</button>
    </form>
    <a href="{% url 'deletegroup' id=post.pk %}" class="btn btn-danger" type="submit">Удалить</a>
    {% endif %}
    <h3 class="mt-3">Студенты группы</h3>
    {% for slave in slaves %}
    <div class="list-group">
        <a href="{% url 'showstudent' id=slave.pk %}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="">#{{slave.pk}}. {{slave.student_name}}</h5>
            <p>Вид обучения: {{slave.education_type_code}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
</div>
{% endblock %}